@use "/src/style.scss";

.Ch {
    height: calc(100svh - 3.6rem);
    & img {
        position: fixed;

        height: 100%;
        width: 50%;

        object-fit: cover;
    }

    .info {
        position: absolute;
        right: 0;

        height: calc(100svh - 3.6rem);
        width: 50%;

        overflow: auto;

        scroll-snap-type: y mandatory;
    }
}

@media screen and (max-width:800px) {
    .Ch {
        & img {
            top: 3.6rem;
    
            height: calc(50svh - 3.6rem);
            width: 100%;
    
            object-fit: contain;

        @media screen and (max-width:380px) {
            object-fit: cover;
        }

        }
    
        .info {
            right: auto;
            bottom: 0;
    
            height: 50svh;
            width: 100%;
        }
    } 
}