@use "./../../style.scss";

.Characters {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    padding: var(--gap);
    gap: 5px;

    .card {
        flex: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        max-width: 350px;

        padding: var(--gap);
        gap: var(--gap);

        border-radius: var(--gap);

        background: var(--c2);
        color: var(--ca);

        & img { border-radius: inherit; border: 2.5px solid #000; }

        .info {
            display: flex;
            justify-content: space-between;

            width: 100%;

            & h2 {
                font-size: large;
                width: 80%;
            }
        }
    }
}