@use "./../../style.scss";

.Characters {
    display: flex;
    flex-direction: column;

    padding: var(--gap);
    gap: var(--gap);
    
    .cards {
        display: flex;
        align-items: baseline;
        justify-content: center;
        flex-wrap: wrap;

        gap: calc(var(--gap)/2);

        .card {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
    
            max-width: 350px;
    
            padding: var(--gap);
            gap: var(--gap);
    
            border-radius: var(--gap);
            
            background: var(--c2);
            color: var(--ca);
    
            & img { border-radius: inherit; border: 2.5px solid #000; }
    
            .info {
                display: flex;
                justify-content: space-between;
    
                width: 100%;
    
                & h2 {
                    font-size: large;
                    width: 80%;
                }
            }
        }
    }

    .error {
        display: flex;
        align-items: center;
        justify-content: center;

        font-weight: 800;
        word-spacing: 5px;
        letter-spacing: 1px;

        padding: var(--gap);
        border-radius: var(--gap);

        color: var(--cb);
        background: var(--c2);
    }
}


@media screen and (max-width:700px) {
    .Characters {
        .cards {
            padding: 0 var(--gap);
            flex-direction: column;
            align-items: center;
            flex-wrap: nowrap;
    
            .card {
                flex-direction: row;
        
                width: 100%;
                max-width: 100%;
        
                & img { width: 40%; }
                .info {
                    align-items: center;
                    justify-content: center;
                    flex-direction: row-reverse;
                    gap: var(--gap);
                }
            }
        }
    }
}