@use "./../../style.scss";

.HomePage {
    display: flex;

    height: 80dvh;

    overflow: hidden;
    background: var(--c2);
    
    .left{
        flex: 1;

        display: flex;
        flex-direction: column;
        
        .top, .bottom {
            flex: 1;
            @include style.flex-c;
            flex-direction: column;

            padding: var(--gap);
            gap: var(--gap);
        }
        .top {
            text-align: center;
        }
        .bottom {
            & a {
                padding: var(--gap);

                border-radius: var(--gap);

                background: var(--c3);
                color: var(--cb);
            }
        }
    }
    .right{
        flex: 2;

        & img {
            width: 100%;
            height: 100%;
            
            transform: scaleX(-1);
            object-fit: contain;

            border-radius: var(--gap);
            background: #fff;
        }
    }
}

@media screen and (max-width: 600px) {
    .HomePage {
        flex-direction: column;
        height: auto;

        .right{
            & img {
                height: 300px;
            }
        }
    }    
}