@use "/src/style.scss";

button, input {
    border: none;
    outline: none;
}


.Search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    padding: .5rem;

    background: var(--cc);
    
    .filters {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;

        padding: 2rem;
        gap: 1.5rem;

        .name {
            padding: 1rem;

            width: 20rem;
            
            border-radius: 999px;

            background: var(--c1);
        }

        .status, .gender {
            display: flex;
            flex-direction: column;

            gap: 0.1rem;

            & h4 {}
            
            .buttons {
                display: flex;
                gap: .5rem;
            }
        }
    }


    .results {
        display: flex;
        flex-direction: column;

        width: 100%;

        gap: .5rem;
    }
}