@use "/src/style.scss";

.Cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    gap: var(--gap);

    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        gap: var(--gap);
        padding: var(--gap);

        border-radius: var(--gap);

        overflow: hidden;

        background: var(--cb);

        & img {
            width: 100%;
            border-radius: var(--semigap);
        }
        .info {
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            text-align: center;

            padding: var(--semigap);

            & h3 {
                font-size: 1rem;
            }
            & a {
                position: absolute;
                top: var(--semigap);
                right: var(--semigap);

                font-size: 1.4rem;

                color: #000;
            }
        }
    }
}