@use "/src/style.scss";

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: calc(3.6rem - var(--gap));

    padding: var(--semigap) var(--gap);

    background: var(--c1);

    .title {
        font-size: 2rem;
        font-weight: 800;

        color: var(--ca);
    }

    & nav {
        display: flex;
        align-items: center;
        justify-content: end;
        .navButton {
            display: flex;
            gap: var(--semigap);
            font-size: 2rem;
            & a {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #000;
            }
        }

        .showed {
            position: fixed;
            z-index: 10;
            top: 0;
            right: 0;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;

            
            width: 100%;
            height: 100%;
            
            background: var(--c1);
            
            & a {
                position: relative;
                z-index: 20;
                
                min-width: 20rem;
                
                text-align: end;
                font-weight: 600;
                font-size: 3rem;

                margin: 0 10%;
                padding: var(--gap);

                border-bottom: 3px solid transparent;

                color: #ccc;
            }
            & a:hover {
                color: var(--cb);
                border-bottom: 3px solid var(--c1);
            }

            & img {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;

                filter: blur(5px);

                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: right;
            }
        }
    }
}