@use "./../../style.scss";

.NavBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: var(--gap);

    background: var(--c2);

    & * {
        color: var(--cb);
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--gap);

        & a {
            // to avoid the move on click
            border-bottom: 2.5px solid transparent;
        }

        .on{
            color: var(--c3);
            border-radius: 4px;
            border-bottom: 2.5px solid var(--c3);
        }
    }

    @media screen and (max-width: 600px) {
        
    }
}