@use "./../../style.scss";

.hide {
    display: none;
}

.Navigation {
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-wrap: wrap;
    
    margin: var(--gap);
    gap: calc(var(--gap)*2);

    font-size: 20px;

    border-radius: var(--gap);

    background: var(--c2);

    & a {
        @include style.flex-c;
        flex-grow: 1;

        min-width: 30%;

        padding: var(--gap);

        border-radius: var(--gap);
        
        background: var(--c3);
        color: var(--cb);

    }
    & :hover, :focus {
        transition: var(--time) ease-in-out;

        background: var(--c1);
        color: var(--ca);
    }
}