@use './style.scss';

.Display {
    

    display: flex;
    flex-wrap: wrap;

    gap: calc(var(--around)/2);
    padding: var(--around);

    background: var(--main);
    
    .contain {
        border-radius: calc(var(--around)/2);
        flex: 1;
        @include style.flex-center;
        flex-direction: column;

        
        padding: var(--around);
        background: var(--secu);


        .info {
            width: 100%;
            @include style.flex-center;
            justify-content: space-between;

            margin-top: var(--around);

            .alive, .dead {
                width: 30px;
                border-radius: 100px 0;
                aspect-ratio: 2;
            }
            .alive { background: #0f0; }
            .dead { background: #f00; }


            .sub {
                display: flex;
                flex-direction: column;
                gap: 2.5px;
                text-align: end;
                
                .name {
                    font-size: 1rem;
                    color: var(--aux2);
                }

                .location {
                    font-size: .7rem;
                    color: #ccc;
                }
            }
        }
    }
}