@use './style.scss';

.Display {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    gap: calc(var(--gap)/2);
    padding: var(--gap);

    background: var(--main);

    .error {
        width: 100%;
        text-align: center;
    }

    .specific {
        display: flex;
        flex-direction: column;

        width: 100%;
        min-height: 32em;

        gap: var(--gap);


        .back {
            display: flex;
            align-items: center;

            height: 4rem;

            gap: var(--gap);

            border-radius: var(--gap);

            background: var(--aux);
            color: var(--aux2);
        }

        .sChara {
            display: flex;
            flex-wrap: wrap;

            height: 100%;

            & img {
                flex: 1;

                max-height: 100%;
                aspect-ratio: 1;

                @media screen and (max-width: 600px) {
                    aspect-ratio: 3/2.5;
                }

                object-fit: cover;
    
                border-radius: var(--gap);
            }
            .info {
                flex: 2;
    
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: space-around;
    
                padding-left: var(--gap);
                gap: calc(var(--gap)/2);

                @media screen and (max-width: 600px) {
                    padding: var(--gap) 0;
                }
    
                text-align: start;
                font-size: 1.3rem;
    
                .name {
                    -webkit-text-stroke: 2px;
                    font-size: 3em;
                }
                .sub {
                    display: flex;
                    align-items: center;
    
                    gap: var(--gap);
    
                    .alive, .dead, .unkw {
                        width: 3rem;
                    }
                }
            }
        }

    }

    .chara {
        flex: 1;

        @include style.flex-center;
        flex-direction: column;

        width: 300px;

        padding: var(--gap);
        gap: var(--gap);
        
        text-decoration: none;
        border-radius: var(--gap);

        background: var(--aux);
        color: var(--aux2);

        & img {
            width: 300px;
            aspect-ratio: 1;
            border-radius: var(--gap);
            object-fit: cover;
        }

        .info {
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: calc(var(--gap)/2);

            .sub {
                .name{
                    font-size: 1.1rem;
                    color: var(--aux2);
                }
                .location{
                    font-size: .7rem;
                    color: #aaa;
                }
            }
            .alive, .dead, .unkw {
                width: 30px;
            }
        }
    }
    
    .alive, .dead, .unkw {
        aspect-ratio: 1;
        border-radius: 50%;
    }

    .alive { background: #0f0; }
    .dead { background: #f00; }
    .unkw { background: #aaa; }
}