@use "./style.scss";

.hide { display: none; }

.Navigation {
    @include style.flex-center;
    padding: var(--around);
    gap: calc(var(--around));
    
    background: var(--aux);
    color: var(--aux2);
    
    .main {
        @include style.flex-center;
        flex-direction: row;
        gap: calc(var(--around));
        
        button, input {
            all: unset;

            display: flex;
            align-items: center;
            justify-content: center;

            text-align: center;

            width: 4rem;
            aspect-ratio: 1;

            border-radius: var(--gap);

            background: var(--main);
            color: var(--aux);
        }

        .goto {
            display: flex;

            ::placeholder {
                color: var(--aux2);
            }

            & button {
                display: none;
            }
        }
    }

}