.Alive, .Dead, .Unknown {
    width: 2em;
    aspect-ratio: 1;
    border-radius: 10px;
    border: 2.5px solid #000;
}

.Alive { background: #0f0; }
.Dead { background: #f00; }
.Unknown { background: #777; }