@use "/src/style.scss";

/* width */
::-webkit-scrollbar {
    width: .5rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--cc);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--c1);
  }
  